{% extends 'base.html.twig' %}

{% block body %}
    <script src="{{ asset('jquery.validate.js') }}"></script>
    <script>
        $().ready(function() {
            // validate the comment form when it is submitted
            $("#validate").validate();
        });
    </script>
<center>
    <h1>Reclamation creation</h1>

    {{ form_start(form,{'attr':{'id':'validate'}}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('reclamation_index') }}">Back to the list</a>
        </li>
    </ul>
</center>
{% endblock %}
