



<center>
    <h1>Votre devis</h1>
<h1>Offre presente par :{{ offre.Assureur.nomAssureur }}</h1>
</center>
<br><br> <br><br>
                                    <h2>Plafond Operation</h2>
                                    <span>{{ offre.id }} DT</span>
                                    <h2>Pourcentage Operation</h2>
                                    <span>{{ offre.pourcentageOperationOffre }} %</span>


                                    <h2>Plafond Medicament</h2>
                                    <span>{{ offre.plafondMedicamentOffre }} DT</span>
                                    <h2>Pourcentage Medicament</h2>
                                    <span>{{ offre.pourcentageMedicamentOffre }} %</span>


                                    <h2>Plafond visite</h2>
                                    <span>{{ offre.plafondVisiteOffre }} DT</span>
                                    <h2>Pourcentage visite</h2>
                                    <span>{{ offre.pourcentageVisiteOffre }} %</span>

                                <br><br><br><br>
                                <h1>prix : {{ montant }} </h1>
<br><br><br><br><br><br><br><br><br><br><br><br>
<center>
<h3>Empact assurance vous remercie pour votre confiance</h3></center>









