{% extends 'back.html.twig' %}
{% block content %}
    <link href={{ asset('bootstrap/bootstrap.min.css') }} rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">


                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered"  width="100%" cellspacing="0"id="dataTable">

                            {{ form_start(edit_form) }}
                            <tr>
                                <th>Prix HT</th>
                                <th>prix TTC</th>
                                <th>TVA</th>
                                <th>dateDebutCotisation</th>
                                <th>dateFinCotisation</th>
                                <th>paiement</th>
                                <th>Modifier</th>

                            </tr>


                            <tr>
                                <td style="display: none;"><center>{{ form_widget(edit_form.idClient) }}</td>
                                <td style="display: none;"><center>{{ form_widget(edit_form.idAssureur,  {'disabled':'disabled'} ) }}</td>
                                <td style="display: none;"><center>{{ form_widget(edit_form.idSouscription) }}</td>
                                <td><center>{{ form_widget(edit_form.prixHt) }}</td>
                                <td><center>{{ form_widget(edit_form.prixTtc) }}</center></td>
                                <td><center>{{ form_widget(edit_form.tva) }}</center></td>
                                <td><center>{{ form_widget(edit_form.dateDebutCotisation) }}</center></td>
                                <td><center>{{ form_widget(edit_form.dateFinCotisation) }}</center></td>
                                <td><center>{{ form_widget(edit_form.paiement) }}</center></td>

                                <td>
                                    <center>
                                        {{ form_widget(edit_form.paiement) }}
                                        {{ form_widget(edit_form) }}
                                        <input class="btn btn-success btn-lg" type="submit" value="Modifier" />
                                        {{ form_end(edit_form) }}.
                                    </center>
                                </td>


                            </tr>


                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <ul>
        <li>
            <a href="{{ path('cotisationBackIndex') }}">Retour a la liste</a>
        </li>
    </ul>
{% endblock  %}




